@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(//db.onlinewebfonts.com/c/8408af8fdb91756ebdf3b4bb481bb3c5?family=Gill+Sans);
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  font: 1em helvetica, arial, sans-serif;
  background-color: black;
  color: white;
}
/* .story {
  padding: 0 1em;
} */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
.scrollbar{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.progress-bar {
  height: 8px;
  background: red;
  width: 0%;
}
.header-naivgation {
  display: flex;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 5em;
  background-color: #000000;
}
.un-list {
  display: flex;
  color: #fff;
  margin: 2em 0 0 20em;
  font-family: ;
}
/* .logo {
  flex-basis: 10em;
} */

.logo-top {
  height: 4em;
  margin-top: 0.5em;
  margin-left: 7em;
}

.un-list li {
  display: flex;
  margin: 0 7em 0 0;
  color: #fff;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
}
.un-list li a:visited {
  color: white;
  text-decoration: none;
}
.background{
  margin-top: 5em;
  width: 100%;
  position: relative;
}
.text-background{
    position: absolute;  
    color: #252b2f;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-top: -13em;
    margin-left: 10em;
    border: solid #96140f;
    padding: 0.5em;
 }
.r8{
  color: #96140f;
  font-size: 3em;
  font-family: 'Bebas Neue', cursive;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans' , cursive;
  font-size: 3em;
}
.orange img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.orange p{
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
}
.red-s8, .red-s8-head {
  display: flex;
  width: 70%;
  margin: 3em auto;
  font-size: 2em;
  font-family: 'Patrick Hand', cursive;
}
.red-s8 p, .red-s8-head p {
  margin-left: 1em;
  margin-right: 1em;
}
h2{
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans' , cursive;
  font-size: 3em;
}
.performance {
  display: flex;
  justify-content: center;
}
.performance li{
  font-family: 'Gill Sans' , cursive;
  font-size: 2em;
  position: relative;
  padding: 1em 4em 1em 4em;
}
.handle{
  display: flex;
  width: 70%;
  margin: 3em auto;
  font-size: 2em;
  font-family: 'Patrick Hand', cursive;
}
.handle img{
  width: 500px;
}
.handle button{
    background-color: black;
    color: white;
    border: 0.5em solid #96140f;
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    font-family: 'Patrick Hand', cursive;
}
.custom{
  display: flex;
  margin: 3em auto;
  font-size: 2em;
  font-family: 'Patrick Hand', cursive;
  background-color: black;
  color: white;
  border: 0.2em solid #96140f;
  text-align: center;
  padding: 1em;
}
.footer{
  display: flex;
}
.footer ul{
  display: flex;
  margin-top: 2em;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
}
.footer li{
  margin: 0 2em;
}
.footer img{
  height: 4em;
}
.footer p{
  font-family: 'Patrick Hand', cursive;
}
